In [1]:
import pandas as pd
import numpy as np

df=pd.read_excel('kto_total.xlsx')
df

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,226786,1236,81,358,3257,231718,2010-01,아시아,97.9,43.6
1,대만,32156,60,6,59,546,32827,2010-01,아시아,98.0,6.2
2,홍콩,16918,51,1,22,657,17649,2010-01,아시아,95.9,3.3
3,마카오,556,0,0,1,0,557,2010-01,아시아,99.8,0.1
4,태국,9820,47,21,21,4213,14122,2010-01,아시아,69.5,1.9
...,...,...,...,...,...,...,...,...,...,...,...
7195,대양주 기타,351,8,4,0,98,461,2019-12,오세아니아,76.1,0.1
7196,남아프리카공화국,326,22,0,1,336,685,2019-12,아프리카,47.6,0.1
7197,아프리카 기타,981,648,87,46,416,2178,2019-12,아프리카,45.0,0.2
7198,국적미상,8,1,0,0,0,9,2019-12,기타대륙,88.9,0.0
7199,교포,0,0,0,0,28956,28956,2019-12,교포,0.0,0.0